@import url('https://fonts.googleapis.com/css?family=Cinzel|Luckiest+Guy|Molle:400i|Nova+Script|Reem+Kufi');

@import 'base/index';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  @include border-box;
}

h1 {
  color: $thistle;
  font-family: $stack-reem;
  text-align: center;
}

h2 {
  color: $slateblue;
  font-family: $stack-nova;
  text-align: center;
}

h3 {
  color: invert($forestgreen);
  font-family: $stack-cinzel;
  text-align: center;
}

h4 {
  color: $magenta;
  font-family: $stack-lucky;
  text-align: center;
  font-size: 5em;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

p {
  color: $tomb;
  font-family: $stack-molle;
  text-align: center;
  font-size: 10em;
}

span {
  font-family: $stack-reem;
}

.one {
  background: $yaleblue;
  display: block;
  padding: 1em 0;
  text-align: center;
}

.oneHue {
  background: hue($yaleblue, 10%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.oneHue2 {
  background: hue($yaleblue, 20%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.oneMix {
  background: mix($yaleblue, $pastelviolet);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.oneMix2 {
  background: mix($yaleblue, $majorelleblue);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.oneMix3 {
  background: mix($yaleblue, $forestgreen);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.two {
  background: $purplenavy;
  display: block;
  padding: 1em 0;
  text-align: center;
}

.twoHue {
  background: hue($purplenavy, 10%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.twoHue2 {
  background: hue($purplenavy, 20%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.twoMix {
  background: mix($purplenavy, $pastelviolet);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.twoMix2 {
  background: mix($purplenavy, $majorelleblue);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.twoMix3 {
  background: mix($purplenavy, $forestgreen);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.three {
  background: $pastelviolet;
  display: block;
  padding: 1em 0;
  text-align: center;
}

.threeHue {
  background: hue($pastelviolet, 10%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.threeHue2 {
  background: hue($pastelviolet, 20%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.threeMix {
  background: mix($pastelviolet, $majorelleblue);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.threeMix2 {
  background: mix($pastelviolet, $yaleblue);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.threeMix3 {
  background: mix($pastelviolet, $forestgreen);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.four {
  background: $thistle;
  display: block;
  padding: 1em 0;
  text-align: center;
}

.fourHue {
  background: hue($thistle, 10%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.fourHue2 {
  background: hue($thistle, 20%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.fourMix {
  background: mix($thistle, $pastelviolet);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.fourMix2 {
  background: mix($thistle, $yaleblue);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.fourMix3 {
  background: mix($thistle, $forestgreen);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper:after,
.row:after {
  @extend %clearfix;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {

  .wapper {
    width: 95%;
    max-width: $grid-max-width;
}
  @for $i from 1 through 12 {
    .column-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
