@import 'base/index';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  @include border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.one {
  background: $yaleblue;
  display: block;
  padding: 1em 0;
  text-align: center;
}

.oneHue {
  background: hue($yaleblue, 10%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.oneHue2 {
  background: hue($yaleblue, 20%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.two {
  background: $purplenavy;
  display: block;
  padding: 1em 0;
  text-align: center;
}

.twoHue {
  background: hue($purplenavy, 10%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.twoHue2 {
  background: hue($purplenavy, 20%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.three {
  background: $pastelviolet;
  display: block;
  padding: 1em 0;
  text-align: center;
}

.threeHue {
  background: hue($pastelviolet, 10%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.threeHue2 {
  background: hue($pastelviolet, 20%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.four {
  background: $thistle;
  display: block;
  padding: 1em 0;
  text-align: center;
}

.fourHue {
  background: hue($thistle, 10%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.fourHue2 {
  background: hue($thistle, 20%);
  display: block;
  padding: 1em 0;
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper:after,
.row:after {
  @extend %clearfix;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {

  .wapper {
    width: 95%;
    max-width: $grid-max-width;
}
  @for $i from 1 through 12 {
    .column-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
