// Colors
$slateblue: #735CDD;
$yaleblue: #094D92;
$green-blue: #0A5FB5;
$purplenavy: #585481;
$pastelviolet: #C49BBB;
$thistle: #D1BCE3;

// Grid Variables
$grid-columns: 12;
$grid-max-width: 65em;

// Breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
