// Colors
$slateblue: #735CDD;
$yaleblue: #094D92;
$green-blue: #0A5FB5;
$purplenavy: #585481;
$pastelviolet: #C49BBB;
$thistle: #D1BCE3;
$majorelleblue: #623CEA;
$forestgreen: #157F1F;
$magenta: #D664BE;
$tomb: #7B9E87;

// Grid Variables
$grid-columns: 12;
$grid-max-width: 65em;

// Breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

//Font Stacks

$stack-reem: 'Reem Kufi', sans-serif;
$stack-nova: 'Nova Script', cursive;
$stack-cinzel: 'Cinzel', serif;
$stack-lucky: 'Luckiest Guy', cursive;
$stack-molle: 'Molle', cursive;
